* {
    font-family: 'Lato';
    font-size: 16px;
}

body, html {
    height: 100%;
}

@media only screen and (min-width : 320px) {
    .btn-block0 {
        display: inline;
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .sidebar {
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: calc(100% / 3);
    }
    .btn-block0 {
        display: block;
        width: 100%;
    }
    .sidebar .header {
        text-align: center;
    }
    .content {
        margin-left: calc(100% / 3);
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.btn-block0 {
    margin-bottom: 0.5em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-image: url("/assets/image/bg-left.jpg");
    background-size: cover;
    background-position: center;
    padding: 2em 1em 1em 1em;
    color: white;
}

.sidebar .top {
    display: flex;
}

.sidebar .top .menu {
}

.sidebar .top .auth {
    margin-left: auto;
}

.sidebar .header {
    font-size: 3em;
    padding-bottom: 1em;
    text-shadow: 2px 2px 2px black;
}

.sidebar .bottom {
    margin-top: auto;
}

.content {
    padding: 2em;
}

.btn-outline, .btn-outline:link, .btn-outline:visited {
    background-color: transparent;
    color: #6f5499;
    border: 2px solid #6f5499;
}
.btn-outline:active, .btn-outline:hover {
    background-color: #6f5499;
    color: #fff
}
